#side-menu {
    background-color:  #f8f8f8;
    overflow-x: hidden;

}


.sidenav {

    float: left;
    overflow-x: hidden;
    margin-top: 50px;
    height: 100%;

}

.nav-row {
    margin: 0px 3px;
}



.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;
}

.nav-second-level {
    margin-left: 25px;
}



.menu-sidenav-element:hover {

    background-color: #c5c5c5;

}

@media (max-width: 992px) {
    ul {
            width: 95%;
            padding: 2px 15px;
    }
    #side-menu{
        position: fixed;
        z-index: 1;    
        max-height: 80%;
        overflow-y: auto;
    }
}
.arrow{
    padding-right:15px;
}
@media (min-width: 992px) {
    #side-menu {
        z-index: 0;
        background-color: transparent;
    }
    ul{
        width: 100%;
    }
    .sidenav {
        width: 100%;
    }
  }