
<nav class="sidenav">
    <div id="sidenav-div">
        <ul class="nav navbar-nav" id="side-menu">
            
        
        <div class="row">
            <li class="nav-row">
                <a class="menu-sidenav-element">
                Measurement <span class="fa arrow" style="float:right;"> </span>
                </a>
                <ul class="nav nav-second-level collapse">
                 
                    <li *ngFor="let measure of measurementList">
                        <a routerLink="/charts/m/{{measure}}" class="menu-sidenav-element"> {{measure}} </a>
                    </li>
        
                </ul>
            </li>
        </div>

        <div class="row">
            <li class="nav-row">
                <a class="menu-sidenav-element">
                Sensors <span class="fa arrow" style="float:right;"> </span>
                </a>
                <ul class="nav nav-second-level collapse">
                    <li *ngFor="let sensor of sensorsList">
                        <a routerLink="/charts/s/{{sensor}}" class="menu-sidenav-element"> {{sensor}} </a>
                    </li>
                </ul>
                </li>
            <li class="nav-row">
                <a class="menu-sidenav-element" routerLink="/"> <i class="fa fa-home fa-fw"></i> Home </a>
            </li>
        </div>

        </ul>
    </div>
</nav>