
.sidenav {
    /* width: 200px; */
    /* width: 150px; */
    /* width: 20%; */
    /* position: fixed; */
    /* z-index: 1; */
    float: left;
    margin-top: 50px;
    padding-right: 5px;
    padding-left: 5px;
    /* left: 0; */
    /* background: #eee; */
    /* overflow-x: hidden; */
    padding: 8px 5px;
    height: 100%;
    width: 100%;
}

.nav-row {
    margin: 0px 3px;
    width: 100%;
}

/* a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 18px;
    color: rgb(7, 94, 165);
    display: block;
    width: 100%;
} */

ul {
    width: 100%
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;
    width: 100%;
}

.nav-second-level {
    margin-left: 25px;
}

/* .sidenav a:hover {
    color: #023661;
} */

.menu-sidenav-element:hover {
    /* color: #004d2d;  */
    /* color: #2b7556;  */
    /*color: #f1730b*/
    background-color: #c5c5c5;

}

/* @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
} */