<div class="modal-dialog modal-dialog-centered" role="document">
  <div class="modal-content">
     
    <div class="modal-header">
      <h5 class="modal-title text-center" id="sensorEditModalTitle"> Edit Sensor {{sensor.idSensor}} </h5>
    </div>

    <div class="modal-body">

      <div class="container-fluid">

        <form [formGroup]="sensorForm">

          <div class="form-group row">
            <label for="name-input" class="col-sm-3 col-form-label"> Name </label>
            <div class="col-sm-9 has-feedback" [class.has-error]="!sensorForm.controls['name'].valid">
              <input class="form-control" id="name-input" type="text" [formControl]="sensorForm.controls['name']" required>
              <span *ngIf="!sensorForm.controls['name'].valid" class="glyphicon glyphicon-remove form-control-feedback"></span>
            </div>
          </div>

          <div class="form-group row" >
            <label for="location-input" class="col-sm-3 col-form-label"> Location </label>
            <div class="col-sm-9 has-feedback" [class.has-error]="!sensorForm.controls['location'].valid">
              <select class="form-control" id="chart-type-list" [formControl]="sensorForm.controls['location']">
                  <option *ngFor="let loc of sortedList" > {{ loc.idLocation }} - {{ loc.name }} </option>
              </select>
            </div>
          </div>

          
          <div class="form-group row measurements-row" >
            <p class="title">Measurements</p>
            <div class="mea-row" [class.has-error]="!sensorForm.controls['measurements'].valid" *ngFor="let mea of sensor.measurements;let i = index">
              <span [attr.id]="mea.type"> {{mea.measurementType}} </span>
              <p class="text-right">
                <button class="btn option-button" (click)="deleteMeasurement(sensor.idSensor, mea.measurementType)"> 
                  <span class="fa fa-trash-o delete-icon"> </span>
                </button>
              </p>
            </div>

            <select class="add-row" id="chart-type-list" (change)="modifyMeasurements($event.target.value)">
                <option *ngFor="let meas of measurements" > {{ meas }} </option>
            </select>
            
          </div>

        </form>

      </div>
        
    </div>      
             
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="close()" data-dismiss="modal">Close</button>
      <button type="submit" class="btn btn-primary" (click)="submitModal(sensorForm.value)" data-dismiss="modal" [disabled]="! sensorForm.valid">Save Changes</button>
    </div>

  </div>
  
</div>