.menu-bar {
    background-color: AliceBlue ;
    margin-left: 0px;
    margin-right: 0px;
}

a.image_container {
    float: left;
    height: 50px;
    padding: 5px;
}

a.image_container img {
    width: auto;
    height: 100%;
}

.dropdown-toggle:hover {
    background-color: aqua;
}

li .open {
    background-color: aqua;
}