<div class="row">
  
  <app-graph-holder [chartData]="chart" [update]="chartUpdater" class=" col-lg-7 col-md-7 col-sm-10 col-xs-10"></app-graph-holder> 

  <!-- <button class="btn btn-primary" (click)=testType()> TEST ME ! </button> -->
  
  <div class="chart-info col-lg-3 col-md-3 col-sm-10 col-xs-10">
    
    <table class="table table-sm table-hover">
      <thead>
        <tr>
          <th scope="col" colspan="2" class="header"> 
            <a routerLink="/charts">
              <h3>- {{ chart.name }} -</h3> 
            </a>
          </th>
        </tr>
      </thead> 
      <tbody>
        <tr>
          <th scope="row"> Range : </th>
          <td>{{ chart.range }}</td>
        </tr>
        
        <tr>
          <th scope="row"> Aggregation Range: </th>
          <td>{{ chart.aggregationRange }}</td>
        </tr>

        <tr>
          <th scope="row"> Aggregation Type: </th>
          <td>{{ chart.aggregationType }}</td>
        </tr>
        
        <tr>
          <th scope="row">Used sensors :</th>
          <td colspan="2">{{ chart.usedSensors }}</td>
        </tr>
      </tbody>
    </table>
  
  </div>

</div>
