<div class="row">
  
  <app-graph-holder [chartData]="chart" [update]="chartUpdater" class=" col-lg-9 col-md-9 col-sm-12 col-xs-12"></app-graph-holder> 
  
  <div class="chart-info col-lg-2 col-md-2 col-sm-12 col-xs-12">
    
    <table class="table table-sm table-hover">
      <thead>
        <tr>
          <th scope="col" colspan="2" class="header"> 
            <a routerLink="/charts">
              <h3 class="chart-title"> {{ chart.name }} </h3> 
            </a>
          </th>
        </tr>
      </thead> 
      <tbody>
        <tr>
          <th scope="row"> Range : </th>
          <td>{{ chart.range }}</td>
        </tr>
        
        <tr>
          <th scope="row"> Aggregation Range: </th>
          <td>{{ chart.aggregationRange }}</td>
        </tr>

        <tr>
          <th scope="row"> Aggregation Type: </th>
          <td>{{ chart.aggregationType }}</td>
        </tr>
        
        <tr>
          <th scope="row">Used sensors :</th>
          <td colspan="2">{{ chart.usedSensors }}</td>
        </tr>
      </tbody>
    </table>
  
  </div>

</div>
