<div class="row">
  
  <app-graph-holder [data]="chart.data" class="col-md-4 col-lg-4"></app-graph-holder> 

  <div class="chart-info col-md-4 col-lg-4 ">
    
    <table class="table table-sm table-hover">
      <thead>
        <tr>
          <th scope="col" colspan="2" class="header"> <h3> {{ chart.name }} </h3> </th>
        </tr>
      </thead> 
      <tbody>
        <tr>
          <th scope="row"> Range : </th>
          <td>{{ chart.range }}</td>
        </tr>
        
        <tr>
          <th scope="row"> Aggregation : </th>
          <td>{{ chart.aggregation }}</td>
        </tr>
        
        <tr>
          <th scope="row">Used sensors :</th>
          <td colspan="2">{{ chart.usedSensors }}</td>
        </tr>
      </tbody>
    </table>
  
  </div>

</div>

<!--
<div class="row col-md-4 col-lg-4"> 
    Used sensors : <span class="value pull-right" > {{ chart.usedSensors }}</span>
  </div>

  -->
