
    <div id="wrapper" class="container-fluid">

        <app-menu-bar [user]="user" (onUserLogin)="setLogin($event)"></app-menu-bar>
    
        <app-side-menu [sensorsList]="sensors" [measurementList]="measurements" class="col-lg-2 col-md-2 col-sm-12 hidden-xs"></app-side-menu>

        <section class="main-window col-lg-12 col-md-12 col-sm-12 col-xs-12 fill">
            <router-outlet></router-outlet>
        </section> 

    </div>

    

<!--
    <app-menu-bar [user]="user" (onUserLogin)="setLogin($event)"></app-menu-bar>
    
    <app-side-menu [sensorsList]="sensors" [measurementList]="measurements" class="col-lg-2 col-md-2 col-sm-12 hidden-xs"></app-side-menu>

    <div id="wrapper" class="container-fluid">

        <section class="main-window col-lg-12 col-md-12 col-sm-12 col-xs-12 fill">
            <router-outlet></router-outlet>
        </section> 

    </div>

-->