

.main-window {
    margin-top: 50px;
}


@media (min-width: 992px) {
    .sidebar-collapse {
        display: block !important;
        
    };

    app-side-menu {
        padding-right: 0px !important;
    }
  }