


    <app-menu-bar [user]="user" (onUserLogin)="setLogin($event)"></app-menu-bar>
    
    <app-side-menu [sensorsList]="sensors" [measurementList]="measurements" class="col-lg-2 col-md-2 col-sm-12 hidden-xs"></app-side-menu>

    <div id="wrapper" class="container-fluid">

        <section class="main-window col-lg-10 col-md-10 col-sm-12 fill">
            <router-outlet></router-outlet>
        </section> 

    </div>

    

<!--
<div id="wrapper" class="container-fluid">

    <app-menu-bar [user]="user" (onUserLogin)="setLogin($event)"></app-menu-bar>

    <div class="row">

        <app-side-menu class="col-lg-2 col-md-2 col-sm-12 hidden-xs"></app-side-menu>

        <section class="main-window col-lg-10 col-md-10 col-sm-12 fill">
            <router-outlet></router-outlet>
        </section> 

    </div>

</div>

-->