
    <div id="wrapper" class="container-fluid">

        <div class="row">
            <app-menu-bar [user]="user" (onUserLogin)="setLogin($event)"></app-menu-bar>
        </div>

        <div class="row">
            <div class="sidebar-collapse collapse">
                <app-side-menu [sensorsList]="sensors" [measurementList]="measurements" class="col-lg-2 col-md-2 col-sm-12 col-xs-12"></app-side-menu>
            <!-- <app-side-menu [sensorsList]="sensors" [measurementList]="measurements" class="col-lg-2 col-md-2 col-sm-12 hidden-xs"></app-side-menu> -->
            </div>
            <section class="main-window col-lg-10 col-md-10 col-sm-12 col-xs-12">
            <!-- <section class="main-window col-lg-10 col-md-10 col-sm-12 col-xs-12 fill"> -->
                <router-outlet></router-outlet>
            </section> 
        </div>

    </div>

    

<!--
    <app-menu-bar [user]="user" (onUserLogin)="setLogin($event)"></app-menu-bar>
    
    <app-side-menu [sensorsList]="sensors" [measurementList]="measurements" class="col-lg-2 col-md-2 col-sm-12 hidden-xs"></app-side-menu>

    <div id="wrapper" class="container-fluid">

        <section class="main-window col-lg-12 col-md-12 col-sm-12 col-xs-12 fill">
            <router-outlet></router-outlet>
        </section> 

    </div>

-->