.chart-menu {
    background-color: aquamarine;
    padding: 2px 15px;
}

.modal-header {
    padding: 5px 5px;
}

.sensor-row {
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px;
    padding:  2px 15px;
}