.chart-menu {
    background-color: #e6e6e6;
    padding: 2px 15px;
}

.modal-header {
    padding: 5px 5px;
}

.dropdown-row {
    display: block; 
    overflow: hidden;
    height: 100%;
    margin-bottom: 0px;
    padding-bottom: 10px;
}

.dropdown-item {
    float:left; 
    padding-right: 15px;
}

.sensor-row {
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px;
    padding: 2px 15px;
}

.level-row {
    border: 1px solid darkred;
    border-radius: 5px;
    margin: 5px;
    padding: 2px 15px;
}

.block-row {
    border: 1px solid darkred;
    border-radius: 5px;
    margin:5px;
    margin-left: 20px;
    padding: 2px 15px;
}

.btn-primary{
    color: black;
    background-color: white;
    border-color: black;
}

.btn-primary:hover{
    background-color: #c5c5c5;
}

.btn-primary:focus
{
    background-color: white;
}

.room-row {
    border: 1px solid darkred;
    border-radius: 5px;
    margin:5px;
    margin-left: 35px;
    padding: 2px 15px;
}

.select-graph-options select {
    color: black;
}

.alert {
    margin-top: 50px;
    margin-bottom: 25px;
}