<div class="row">

  <div class="chart-menu col fill">
    <h2 class="text-center"> {{id}} </h2>

    <div class="row">

      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">

        <h5 class="text-center"> Range </h5>
        <!--
        <div class="form-group row">
          <label for="range-from" class="col-sm-2 col-form-label">From: </label>
          <div class="col-sm-10">
            <input id="range-from" type="text" class="form-control" placeholder="start from">
          </div>
        </div>

        <div class="form-group row">
          <label for="range-to" class="col-sm-2 col-form-label">To: </label>
          <div class="col-sm-10">
            <input id="range-to" type="text" class="form-control" placeholder="stop to">
          </div>
        </div>
      -->
      <calendar-selector (dateChangeEventEmitter)="onChangeDateRange($event)" [updateDate]="dateUpdater"></calendar-selector>

      </div>

      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <h5 class="text-center"> Aggregation </h5>

        <div class="form-group">
          <select class="form-control" id="aggregation-range-list" (change)="onChangeAggregationRangeValue($event.target.value)">
              <option *ngFor="let range of availableAggregationRange" value='{{range}}' > {{ range }} </option>
          </select>
        </div>

        <div class="form-group">
          <select class="form-control" id="aggregation-type-list" (change)="onChangeAggregationTypeValue($event.target.value)">
              <option *ngFor="let type of availableAggregationType" value='{{type}}'> {{ type }} </option>
          </select>
        </div>

      </div>

      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <h5 class="text-center"> Used Sensors </h5>

        <div class="form-group" *ngIf="type=='m'">
          <button class="btn btn-primary btn-block" data-toggle="modal" data-target="#sensorSelectorModal" > Select Sensors </button>
        </div>

        <!-- <div class="form-group">
           todo: gestire le stringhe da visualizzare 
          <p class="text-center" *ngFor="let s of selectedSensors" > {{s.name}} </p>
        </div> -->

        <div class="modal fade" id="sensorSelectorModal" tabindex="-1" role="dialog" aria-labelledby="sensorSelectorModalTitle" aria-hidden="true">
          
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              
              <div class="modal-header">
                  <h5 class="modal-title text-center" id="sensorSelectorModalTitle"> Select sensors to visualise in chart </h5>
                  <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button> -->
                <div  class="text-center" *ngIf="type == 'm'">
                  <p> ( only sensors with {{id}} value is shown ) </p>
                </div>
              </div>

              <div class="modal-body">
                <div class="container-fluid">

                  <div class="form-group">
                    <input id="search-bar" type="text" class="form-control" placeholder="Search Sensors">
                  </div>

                  <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input id="select-all-checkbox" type="checkbox" value="select-all" [(ngModel)]="selectAll" (ngModelChange)="selectAllSensors($event)" >
                        <label class="form-check-label" for="select-all-checkbox">  Select All </label>
                    </div>
                  </div>

                  <form (ngSubmit)="submitModal()">

                    <div class="row form-group">

                      <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12" *ngFor="let sensor of sensorsList">
                        <div class="sensor-row">
                          <label>
                            <input type="checkbox" [(ngModel)]="sensorsControl[sensor].selected" [ngModelOptions]="{standalone: true}" (ngModelChange)="updateSensor(sensorsControl[sensor].sensor, $event)">
                            {{sensorsControl[sensor].sensor.name}}
                          </label>

                          <span class="float-right pull-right text-right">  - {{ sensorsControl[sensor].sensor.positionName }} - </span>
                        </div>
                      </div>
                      
                    </div>

                  </form>



                  <div class="row form-group">
                    <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12" *ngFor="let level of levelList; let i = index;">
                      <div id="level-accordion">
                     
                        <div class="card">
                          <div class="card-header" id="heading{{i}}">
                            <h5 class="mb-0 level-row">

                              <span class="dropdown-item"> 
                                <label>
                                  <input type="checkbox" [(ngModel)]="levels[level].selected" (ngModelChange)="updateLevel(levels[level].id, $event)">
                                  {{levels[level].name}}
                                </label>
                              </span>
                          
                              <p class="dropdown-row text-right" role="button" data-toggle="collapse" [attr.data-target]="'#level-collapse'+ i" aria-expanded="false" [attr.aria-controls]="'level-collapse'+ i"> 
                                <span class="fa fa-angle-down"></span>
                              </p>
                              
                            </h5>
                          </div>
                      
                          <div id="level-collapse{{i}}" class="collapse" [attr.aria-labelledby]="'heading'+ i" data-parent="#level-accordion">
                            <div class="card-body">
                              <div *ngFor="let block of levels[level].blocks; let j = index;" >
                                <div id="block-accordion{{i}}">
                                  <div class="card">
                                    
                                    <div class="card-header" id="{{i}}-block-heading{{j}}">
                                      <h5 class="mb-0 block-row">

                                        <span class="dropdown-item"> 
                                            <label>
                                              <input type="checkbox" [(ngModel)]="blocks[block].selected" (ngModelChange)="updateBlock(blocks[block].id, $event)">
                                              {{blocks[block].name}}
                                            </label>
                                          </span>
                                          
                                          <p class="dropdown-row text-right " role="button" data-toggle="collapse" [attr.data-target]="'#' + i + '-block-collapse'+ j" aria-expanded="false" [attr.aria-controls]="i + '-block-collapse'+ j"> 
                                            <span class="fa fa-angle-down"> </span>
                                          </p>

                                      </h5>
                                    </div>
                                  
                                    <div id="{{i}}-block-collapse{{j}}" class="collapse" [attr.aria-labelledby]="i + '-block-heading'+ j" [attr.data-parent]="'#block-accordion' + i">
                                      <div class="card-body">
                                        <div class="room-row" *ngFor="let room of blocks[block].rooms; let k = index;" >
                                          <label>
                                            <input type="checkbox" [(ngModel)]="rooms[room].selected" (ngModelChange)="updateRoom(rooms[room].id, $event)">
                                            {{rooms[room].name}}
                                          </label>                  
                                        </div>
                                      </div>
                                    </div>

                                  </div>
                                </div>                      
                              </div>
                            </div>
                          </div>
                        </div>
                   
                      </div>
                    </div>
                  </div>

                </div>
              </div>      
                     
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" (click)="submitModal()" data-dismiss="modal">Save Changes</button>
              </div>

            
            </div>
          </div>
        </div>

      </div>

    </div>

    <div class="form-group">
      <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="realtime-checkbox" value="realtime" [ngModel]="realtime" (ngModelChange)="toggleRealtime($event)">
          <label class="form-check-label" for="realtime-checkbox">  Real Time Update </label>
      </div>
    </div>

    <div class="form-group">
      <label for="chart-type-list">Chart Type:</label>
      <select class="form-control" id="chart-type-list" (change)="onChangeChartType($event.target.value)">
        <option *ngFor="let type of availableChartType" > {{ type }} </option>
      </select>
    </div>

  </div>

  
  
  <div *ngIf="type == 'm'">
    <h2>
    Displaying Measurement Chart : {{id}} 
    </h2>
    <app-graph-holder [chartData]="chartData" [update]="chartUpdater" class="col-xs-12 col-sm-12 col-md-12 col-lg-12"></app-graph-holder> 
  </div>

  <div *ngIf="type == 's'">
    <h2>
        Displaying Sensor Chart for sensor #{{id}}  
    </h2>
    <app-graph-holder *ngFor="let chart of chartDataList; let i = index" [chartData]="chart" [update]="chartUpdaterList[i]" class="col-xs-12 col-sm-12 col-md-12 col-lg-12"></app-graph-holder>
  </div>
</div> 